[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "bundle/LanguageTool"]
    path = bundle/LanguageTool
    url = git@github.com:vim-scripts/LanguageTool.git
[submodule "bundle/YouCompleteMe"]
    path = bundle/YouCompleteMe
    url = git@github.com:Valloric/YouCompleteMe.git
[submodule "bundle/vim-go"]
    path = bundle/vim-go
    url = git@github.com:fatih/vim-go.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
